name: Azure Login and Account Show

on:
  push:
    branches:
      - main

jobs:
  azure-login:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Show Azure Account
        run: az account show