name: Fibonacci Series Workflow

on: 
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  fibonacci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Fibonacci script
        run: |
          echo "Fibonacci Series:"
          a=0
          b=1
          for (( i=0; i<10; i++ ))
          do
            echo $a
            fn=$((a + b))
            a=$b
            b=$fn
          done