name: Greet User

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name of the user'
        required: true
        default: 'World'

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "Hello ${{ github.event.inputs.name }}"