name: Print Hello Keerthika

on: 
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  echo_job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Hello Keerthika
        run: echo "hello keerthika"