pipeline {
    agent any
    stages {
        stage('Login to Azure') {
            steps {
                script {
                    withCredentials([[$class: 'AzureServicePrincipal', 
                                     credentialsId: 'your-service-principal-id', 
                                     subscriptionId: 'your-subscription-id']]) {
                        sh 'az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID'
                    }
                }
            }
        }
        stage('Show Azure Account') {
            steps {
                sh 'az account show'
            }
        }
    }
}