pipeline {
    agent any
    stages {
        stage('Login to Azure') {
            steps {
                script {
                    withCredentials([[$class: 'AzureServicePrincipal', 
                                     credentialsId: 'your-azure-service-principal-id']]) {
                        sh 'az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID'
                        sh 'az account show'
                    }
                }
            }
        }
    }
}