name: Hello World Workflow

on: 
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Hello World
        run: echo "Hello, World!"